{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css\semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css\login.css' %}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="bg">
      <div class="ui image logo">
        <img src="{% static 'images/bg-logo.png' %}" alt="" />
      </div>
      <div class="ui  two item text  menu">
          <a class="item" href="{% url 'register' %}">
          <span><p class="outset" style="border-bottom:2px solid rgb(247, 250, 252);">注册</p></span></a>
          <a class="active item" href="#list/editors">
            <span><p class="outset" style="border-bottom:2px solid #2185D0;">登录</p></span></a>

      </div>
    <form class="ui form error" method="post">
        <div class="ui vertical menu">
            {% if form.errors %}
                <div class="ui error message" style="width:300px; position:relative; left:50%; transform:translate(-50%,0%);">
                    {{ form.errors }}
                </div>
            {% endif %}
            {% if errors %}
                <div class="ui error message" style="width:300px; position:relative; left:50%; transform:translate(-50%,0%);">
                    {{ errors }}
                </div>
            {% endif %}
            <div class="item">
                <div class="ui transparent input">
                   <!--<input type="email" placeholder="邮箱" value="">-->
                    {{ form.email }}
                </div>
            </div>
            <div class="item">
                <div class="ui transparent input">
                  <!--<input type="password" placeholder="密码（不少于6位）" value="">-->
                    {{ form.password }}
                </div>
            </div>
        </div>
        <input type="hidden" name="referer", value="{{ referer }}"></input>
        {% csrf_token %}
        <button class="ui blue button" type="submit">登录</button>
    </form>
        <div class="ui text menu">
        <div class="meun">
          <div class="ui checkbox">
            <input type="checkbox" checked>
            <label>记住我</label>
          </div>
        </div>
        <div class="right menu">
          忘记密码？
         </div>
        </div>



    </div>
  </body>
</html>
