{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css\semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css\login.css' %}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="bg">
      <div class="ui image logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/bg-logo.png' %}" alt="" class="ui image" />
                </a>
      </div>
      <div class="ui  two item text  menu">
        <a class="active item">
          <span><p class="outset" style="border-bottom: 2px solid #2185D0;">注册</p></span></a>
        <a class="item" href="{% url 'login' %}">
          <span><p class="outset" style="border-bottom: 2px solid rgb(247, 250, 252);">登录</p></span></a>

      </div>
      <form class="ui form error" method="post">
          <div class="ui vertical menu">
              {% if form.errors %}
              <div class="ui error message" style="width:300px; position:relative; left:50%; transform:translate(-50%,0%);">
                      {{ form.errors }}
              </div>
              {% endif %}
              {% if errors %}
                <div class="ui error message" style="width:300px; position:relative; left:50%; transform:translate(-50%,0%);">
                    {{ errors }}
                </div>
              {% endif %}
              <div class="item">
                  <div class="ui transparent input">
                      <!--<input type="name" placeholder="姓名" value="">-->
                      {{ form.name }}
                  </div>
              </div>
              <div class="item">
                  <div class="ui transparent input">
                    <!--<input  placeholder="邮箱" >-->
                        {{ form.email }}
                  </div>
              </div>
              <div class="item">
                  <div class="ui transparent input">
                  <!--<input type="password" placeholder="密码（不少于6位）" value="">-->
                        {{ form.password }}
                  </div>
              </div>
          </div>
          <input type="hidden" name="referer", value="{{ referer }}"></input>
          {% csrf_token %}
          <button class="ui blue button" type="submit">注册</button>
      </form>
        <!--<form class="ui form error" method="post">-->
            <!--<div class="ui vertical menu">-->
                <!--{% if form.errors %}-->
                    <!--<div class="ui error message">-->
                        <!--{{ form.errors }}-->
                    <!--</div>-->
                <!--{% endif %}-->
                <!--<div class="item">-->
                    <!--<div class="ui transparent input">-->
                       <!--&lt;!&ndash;<input type="email" placeholder="邮箱" value="">&ndash;&gt;-->
                        <!--email:{{ form.email }}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui transparent input">-->
                      <!--&lt;!&ndash;<input type="password" placeholder="密码（不少于6位）" value="">&ndash;&gt;-->
                        <!--password:{{ form.password }}-->
                    <!--</div>-->
                <!--</div>-->
                <!--{% csrf_token %}-->
            <!--</div>-->
            <!--<button class="ui blue button" type="submit">登录</button>-->
        <!--</form>-->


    </div>
  </body>
</html>
